@import "mixins";
@import "vars";

@include main;

section {
  padding: 3em 3em;
}

h1,
h2,
h3 {
  font-family: $font-titles-n-logo;
}

nav {
  background-color: $color-dark-green;
  text-align: center;
  ul {
    list-style: none;
    li {
      display: inline-block;
      padding: 0.5em 1em;
      cursor: pointer;

      &:hover {
        background-color: $color-green-light;
        color: $color-dark-green;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    li:last-child {
      color: $color-red;
      display: none;
    }
  }
}

#logo {
  background-color: $color-green-light;
  @include clearfix;
}

#left {
  float: left;
  @include clearfix;
  img {
    width: 50px;
    height: 50px;
    float: left;
  }
  p {
    margin-left: 0.3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-titles-n-logo;
    float: left;
    font-size: 2em;
    padding-top: 2%;

    span {
      color: $color-red;
    }
  }
}

#right {
  float: right;
  margin-top: 10px;

  form {
    input {
      background-color: $color-dark-green;
    }

    button {
      background-color: $color-red;
      color: $color-green-light;
    }
    input,
    button {
      padding: 0.5em;
      border: none;
      border-radius: 5px;
    }
    ::placeholder {
      color: $color-green-light;
    }
  }

  p {
    text-align: right;
    padding-top: 0.5em;
    color: $color-dark-green;
    span {
      color: $color-red;
      text-decoration: underline;
    }
  }
}

main {
  height: 80vh;
  background-image: url("../slike/intro.jpg");
  background-size: cover;
  text-align: center;
  position: relative;

  h1,
  p {
    margin: 0 auto;
  }
}

.main-text {
  position: absolute;
  width: 100%;
  top: 20%;

  p {
    background-color: $color-dark-green;
    width: fit-content;
    margin-top: 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;

    a {
      color: $color-green-light;
      text-decoration: none;
    }

    &:hover {
      background-color: $color-green-light;
      a {
        color: $color-dark-green;
      }
    }
  }
}

h1 {
  color: #fff;
  background-color: rgba(#000, 0.5);
  padding: 0.3em 0;
  width: 60%;
}

#benefits {
  background-color: $color-light;
  text-align: center;
  @include clearfix;
}
h2 {
  text-transform: uppercase;
  font-size: 2em;
  color: $color-dark-green;
  margin-bottom: 1.5em;
}

.img-box {
  width: 33.3%;
  float: left;

  .img-container {
    height: 200px;
    width: 100%;
    img {
      height: 180px;

      &:hover {
        height: 199px;
        cursor: pointer;
      }
    }
  }

  .text {
    h3 {
      color: $color-red;
      padding: 0.5em 0;
    }
  }
}

#about {
  text-align: justify;
  @include clearfix;

  a {
    margin-top: 0.5em;
    padding: 0.5em 1em;
    float: right;
    background-color: $color-red;
    color: $color-green-light;
    border-radius: 5px;
    text-decoration: none;
  }
}

#contact {
  background-color: $color-dark-green;
  @include clearfix;

  .left {
    float: left;
    width: 47%;
    background-color: #7f7f7f;
    padding: 2em;
    h2 {
      padding-top: 0.5em;
      text-align: center;
      font-size: 1.5em;
    }

    form {
      text-align: center;
      input,
      textarea {
        padding: 0.5em;
      }
      #name,
      #email {
        width: 48%;
      }
      #subject,
      textarea {
        margin-top: 0.5em;
        width: 97%;
      }
    }
  }
  button {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
  }

  .right {
    float: right;
    iframe {
      height: 360px;
    }
  }
}

@media only screen and (max-width: 960px) {
  section {
    padding: 2em 3em;
  }

  main {
    height: 60vh;
  }
}

@media only screen and (max-width: 880px) {
  nav {
    ul li:last-child {
      display: inline-block;
      a {
        color: $color-red;
        font-weight: bold;
      }
    }
  }
  #logo {
    #left {
      width: fit-content;
      margin: 0 auto;
      float: unset;
    }
    #right {
      display: none;
    }
  }

  main {
    height: 50vh;
  }

  .img-box p {
    font-size: 0.75em;
  }

  #contact {
    text-align: center;
    .left,
    .right {
      float: unset;
    }
    .right {
      width: 100%;
      iframe {
        margin: 0 auto;
        width: 65%;
      }
    }
    .left {
      width: 60%;
      margin: 0 auto;
      margin-top: 2em;
    }
  }
}

@media only screen and (max-width: 680px) {
  section {
    padding: 1.5em 1em;
  }

  h2 {
    font-size: 1.5em;
  }
  nav {
    ul {
      li {
        display: block;
        border-bottom: 1px solid $color-regular-green;
      }
    }
  }

  .img-box {
    width: 100%;
  }

  #logo,
  main {
    display: none;
  }

  #about {
    text-align: center;
    p {
      display: none;
    }
    a {
      float: unset;
      margin: 0 auto;
    }
  }

  #contact {
    .left,
    .right {
      width: 100%;
    }
    .right {
      iframe {
        width: 100%;
      }
    }
  }
}
