@import "mixins";
@import "vars";

@include main;

section {
  padding: 2em 3em;
}

h1,
h2,
h3 {
  font-family: "$font-titles-n-logo";
}

nav {
  background-color: $color-dark-green;
  text-align: center;
  ul {
    list-style: none;
    li {
      display: inline-block;
      padding: 0.5em 1em;
      cursor: pointer;

      &:hover {
        background-color: $color-green-light;
        color: $color-dark-green;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    li:last-child {
      color: $color-red;
      display: none;
    }
  }
}

#logo {
  background-color: $color-green-light;
  @include clearfix;
}

#left {
  float: left;
  @include clearfix;
  img {
    width: 50px;
    height: 50px;
    float: left;
  }
  p {
    margin-left: 0.3em;
    text-transform: uppercase;
    float: left;
    font-size: 2em;
    padding-top: 2%;
    font-family: $font-titles-n-logo;

    span {
      color: $color-red;
    }
  }
}

#right {
  float: right;
  margin-top: 10px;

  form {
    input {
      background-color: $color-dark-green;
    }

    button {
      background-color: $color-red;
      color: $color-regular-green;
    }
    input,
    button {
      padding: 0.5em;
      border: none;
      border-radius: 5px;
    }
  }

  p {
    text-align: right;
    padding-top: 0.5em;
    color: $color-dark-green;
    span {
      color: $color-red;
      text-decoration: underline;
    }
  }
}

main {
  height: 100vh;
  background-image: url("../slike/intro.jpg");
  background-size: cover;
  text-align: center;
  position: relative;

  h1,
  p {
    margin: 0 auto;
  }
}

.main-text {
  position: absolute;
  width: 100%;
  top: 25%;

  p {
    background-color: $color-dark-green;
    width: fit-content;
    margin-top: 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;

    a {
      color: $color-green-light;
      text-decoration: none;
    }

    &:hover {
      background-color: $color-green-light;
      a {
        color: $color-dark-green;
      }
    }
  }
}

h1 {
  color: #fff;
  font-family: $font-titles-n-logo;
  background-color: rgba(#000, 0.5);
  padding: 0.3em 0;
  width: 60%;
}

#benefits {
  background-color: $color-light;
  text-align: center;
  @include clearfix;
}
h2 {
  font-family: $font-titles-n-logo;
  text-transform: uppercase;
  font-size: 2em;
  color: $color-dark-green;
  margin-bottom: 1.5em;
}

.img-box {
  width: 33.30%;
  float: left;

  .img-container {
    height: 200px;
    width: 100%;
    img {
      height: 180px;

      &:hover {
        height: 199px;
      }
    }
  }

  .text {
    h3 {
      color: $color-red;
      font-family: $font-titles-n-logo;
      padding: 0.5em 0;
    }
  }
}

#about{
    text-align: justify;
    @include clearfix;

    a{
        padding: 0.5em 1em;
        float: right;
        background-color: $color-red;
        color:$color-green-light;
        border-radius: 5px;
        text-decoration: none;
    }
}
